{{ include('LightennaStructuredBundle:Fileview:partial.header.html.twig', {title: dirname, direction: direction}) }}
{{ include('LightennaStructuredBundle:Fileview:partial.metaform.html.twig', {metaform: metaform}) }}
<div id="sfun-yardstick-x" class="yardstick"></div>
<div id="sfun-yardstick-y" class="yardstick"></div>
<div id="gutterball" class="yardstick"></div><div id="alleyball" class="yardstick"></div>

<div class="content">
<ul id="sfun" class="sfun flow flow-{{ direction }} flow-{{ celltype }} flow-{{ breadth }}">
{% for file in dirlisting %}
{% if file.type == 'directory' %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell resizeablecell {{ file.type }}-type" data-seq="{{ file.seq }}">
    <a class="container directory-container clickable" href="/file{{ linkpath }}{{ file.name }}/">
      <ul class="directory flow boundable selectreflector">
        {% for img_prev_n in 1..4 %}<li id="seq-{{ file.seq }}-{{ img_prev_n }}" class="subcell" data-seq="{{ file.seq }}-{{ img_prev_n }}">
        <span class="container directory-container">
          <img id="imgseq-{{ file.seq }}-{{ img_prev_n }}" class="loadable boundable reresable"
               data-meta-src="/imagemeta{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}{{ argsdefault }}"
               data-desrc="/image{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}{{ argsdefault }}"
               data-template-src="/image{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}{% verbatim %}maxwidth={{ maxwidth }}&maxheight={{ maxheight }}{% endverbatim %}"
               alt="directory preview thumbnail" />
          <noscript><img id="imgseq-{{ file.seq }}-{{ img_prev_n }}" class="preview preview-{{ img_prev_n }}" src="/image{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}maxshortest=200&clipwidth=200&clipheight=150" alt="directory preview thumbnail" /></noscript>
        </span>
        </li>{% endfor %}
      </ul>
      <span class="meta">
        <span class="base">
          <span class="caption">{{ file.alias|e }}</span>
          <span class="byline">{{ file.seq }}</span>
        </span>
      </span>
    </a>
  </li>
{% elseif (file.type == 'image') or (file.type == 'video') %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell resizeablecell {{ file.type }}-type
  " data-seq="{{ file.seq }}">
    <a class="container media-container {{ file.type }}-container" href="/image{{ linkpath }}{{ file.name }}">
      <p class="imgmetric super"><span class="size"><span class="width">{% if file.meta.loaded_width is defined %}{{ file.meta.loaded_width }}{% else %}-{% endif %}</span> x <span class="height">{% if file.meta.loaded_height is defined %}{{ file.meta.loaded_height }}{% else %}-{% endif %}</span> @ </span><span class="perc">x%</span></p>
      <img class="loadable reresable boundable {{ file.orientation }}-bound selectreflector"
           alt="image thumbnail for {{ file.alias}}"
           data-meta-src="/imagemeta{{ linkpath }}{{ file.name }}{{ argsbase }}{{ argsdefault }}"
           data-desrc="/image{{ linkpath }}{{ file.name }}{{ argsbase }}{{ argsdefault }}"
           data-template-src="/image{{ linkpath }}{{ file.name }}{{ argsbase }}{% verbatim %}maxwidth={{ maxwidth }}&maxheight={{ maxheight }}{% endverbatim %}{% if file.type == 'video' %}{% verbatim %}&timecode={{ timecode }}{% endverbatim %}{% endif %}"
           {% if file.meta.ratio is defined %}data-ratio="{{ file.meta.ratio }}" {% endif %}
           {% if file.meta.width is defined %}data-native-width="{{ file.meta.width }}" {% endif %}{% if file.meta.height is defined %}data-native-height="{{ file.meta.height }}" {% endif %}
{#
           do not send the loaded-width and height, because we need to use the loaded event to trigger cell resize and image reres
           {% if file.meta.loaded_width is defined %}data-loaded-width="{{ file.meta.loaded_width }}" {% endif %}{% if file.meta.loaded_height is defined %}data-loaded-height="{{ file.meta.loaded_height }}" {% endif %}
#}
           data-loaded="false"
           data-seq="{{ file.seq }}" />
      <noscript><img class="{{ file.orientation }}-bound selectreflector" src="/image{{ linkpath }}{{ file.name }}{{ argsbase }}{{ argsdefault }}" alt="image thumbnail for {{ file.alias}}" {% if file.meta.width is defined %}data-native-width="{{ file.meta.width }}" {% endif %}{% if file.meta.height is defined %}data-native-height="{{ file.meta.height }}" {% endif %}{% if file.meta.loaded_width is defined %}data-loaded-width="{{ file.meta.loaded_width }}" {% endif %}{% if file.meta.loaded_height is defined %}data-loaded-height="{{ file.meta.loaded_height }}" {% endif %}{% if file.meta.ratio is defined %}data-ratio="{{ file.meta.ratio }}" {% endif %} data-seq="{{ file.seq }}" /></noscript>
      <span class="meta">
        <span class="base">
          {# Always show headline; if not set use file.alias #}
          <span class="headline">{{ file.meta is defined and file.meta.headline != defaults.headline ? file.meta.headline : file.alias }}</span>
          {# Only show other metadata if it's not the default #}
          <span class="copyright" {{ file.meta is defined and file.meta.copyright == defaults.copyright ? 'style="display: none;"' }} title="{{ file.meta is defined ? file.meta.copyright : '' }}">&copy;</span>
          <span class="source icon ion-home" {{ file.meta is defined and file.meta.source == defaults.source ? 'style="display: none;"' }} title="{{ file.meta is defined ? file.meta.source : '' }}"></span>
          <span class="caption icon ion-document-text" {{ file.meta is defined and file.meta.caption == defaults.caption ? 'style="display: none;"' }} title="{{ file.meta is defined ? file.meta.caption : '' }}"></span>
          <span class="keywords icon ion-pricetags" {{ file.meta is defined and file.meta.keywords == defaults.keywords ? 'style="display: none;"' }} title="{{ file.meta is defined ? file.meta.keywords : '' }}"></span>
          {# Show edit icon if we have edit permissions #}
          <span class="editable icon ion-compose" style="{{ file.meta is defined and file.meta.editable ? '' : 'display: none;' }}"></span>
          {# Always show author #}
          <span class="byline">{{ file.meta is defined ? file.meta.byline : defaults.byline }}</span>
        </span>
      </span>
    </a>
  </li>
{% else %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell" data-seq="{{ file.seq }}">
    <a href="#" class="container selectreflector" data-seq="{{ file.seq }}">
      {{ file.alias }}
    </a>
  </li>
{% endif %}
{% endfor %}
</ul>
</div><!-- /.content -->

{{ include('LightennaStructuredBundle:Fileview:partial.footer.html.twig') }}
