{{ include('LightennaStructuredBundle:Fileview:partial.header.html.twig', {title: dirname, direction: direction}) }}
{{ include('LightennaStructuredBundle:Fileview:partial.metaform.html.twig', {metaform: metaform}) }}
<div id="sfun-yardstick-x" class="yardstick"></div>
<div id="sfun-yardstick-y" class="yardstick"></div>
<div id="gutterball" class="yardstick"></div><div id="alleyball" class="yardstick"></div>

<div class="content">
<ul id="sfun" class="sfun flow flow-{{ direction }} flow-{{ celltype }} flow-{{ breadth }}">
{% for file in dirlisting %}
{% if file.type == 'directory' %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell resizeablecell {{ file.type }}-type" data-seq="{{ file.seq }}">
    <a class="container directory-container directory-outer clickable" href="/file{{ linkpath }}{{ file.name }}/">
      <ul class="directory flow boundable selectreflector">
        {% for img_prev_n in 1..4 %}<li id="seq-{{ file.seq }}-{{ img_prev_n }}" class="subcell" data-seq="{{ file.seq }}-{{ img_prev_n }}">
        <span class="container directory-container directory-inner">
          <img id="imgseq-{{ file.seq }}-{{ img_prev_n }}" class="loadable boundable reresable"
               data-meta-src="/imagemeta{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}{{ argsdefault }}"
               data-desrc="/image{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}{{ argsdefault }}"
               data-template-src="/image{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}{% verbatim %}maxwidth={{ maxwidth }}&maxheight={{ maxheight }}{% endverbatim %}"
               alt="directory preview thumbnail" />
          <noscript><img id="imgseq-{{ file.seq }}-{{ img_prev_n }}" class="preview preview-{{ img_prev_n }}" src="/image{{ linkpath }}{{ file.name }}/[i{{ img_prev_n }}]{{ argsbase }}maxshortest=200&clipwidth=200&clipheight=150" alt="directory preview thumbnail" /></noscript>
        </span>
        </li>{% endfor %}
      </ul>
      <span class="meta">
        <span class="base">
          <span class="iptc iptc_headline">{{ file.alias|e }}</span>
          {% if file.subfolderCount is not null %}<span class="iptc iptc_byline">{{ file.subfolderCount }} assets</span>{% endif %}
        </span>
      </span>
    </a>
  </li>
{% elseif (file.type == 'image') or (file.type == 'video') %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell resizeablecell {{ file.type }}-type
  " data-seq="{{ file.seq }}">
    <a class="container media-container {{ file.type }}-container" href="/image{{ linkpath }}{{ file.name }}">
      <img class="loadable reresable boundable {{ file.meta.orientation }}-bound selectreflector"
           alt="image thumbnail for {{ file.alias}}"
           {# metadata source #}
           data-meta-src="/imagemeta{{ linkpath }}{{ file.name }}{{ argsbase }}{{ argsdefault }}"
           {# thumbnail source when first loaded #}
           data-desrc="/image{{ linkpath }}{{ file.name }}{{ argsbase }}{{ argsdefault }}"
           {# thumbnail source for dynamic reresing #}
           data-template-src="/image{{ linkpath }}{{ file.name }}{{ argsbase }}{% verbatim %}maxwidth={{ maxwidth }}&maxheight={{ maxheight }}{% endverbatim %}{% if file.type == 'video' %}{% verbatim %}&timecode={{ timecode }}{% endverbatim %}{% endif %}"
      {% if (file.type == 'video') %}
           {# video source #}
           data-video-src="/file{{ linkpath }}{{ file.name }}"
           data-video-type="{{ file.ext }}"
      {% endif %}
           {% if file.meta.Ratio is not null %}data-ratio="{{ file.meta.Ratio }}" {% endif %}
           {% if file.meta.OriginalWidth is not null %}data-native-width="{{ file.meta.OriginalWidth }}" {% endif %}{% if file.meta.OriginalHeight is not null %}data-native-height="{{ file.meta.OriginalHeight }}" {% endif %}
{#
           do not send the loaded-width and height, because we need to use the loaded event to trigger cell resize and image reres
           {% if file.meta.LoadedWidth is not null %}data-loaded-width="{{ file.meta.LoadedWidth }}" {% endif %}{% if file.meta.LoadedHeight is not null %}data-loaded-height="{{ file.meta.LoadedHeight }}" {% endif %}
#}
           data-loaded="false"
           data-seq="{{ file.seq }}" />
      <noscript><img class="{{ file.meta.orientation }}-bound selectreflector" src="/image{{ linkpath }}{{ file.name }}{{ argsbase }}{{ argsdefault }}" alt="image thumbnail for {{ file.alias}}" {% if file.meta.OriginalWidth is not null %}data-native-width="{{ file.meta.OriginalWidth }}" {% endif %}{% if file.meta.OriginalHeight is not null %}data-native-height="{{ file.meta.OriginalHeight }}" {% endif %}{% if file.meta.LoadedWidth is not null %}data-loaded-width="{{ file.meta.LoadedWidth }}" {% endif %}{% if file.meta.LoadedHeight is not null %}data-loaded-height="{{ file.meta.LoadedHeight }}" {% endif %}{% if file.meta.Ratio is not null %}data-ratio="{{ file.meta.Ratio }}" {% endif %} data-seq="{{ file.seq }}" /></noscript>
      <span class="meta">
        <span class="base">
          <span class="imgmetric super"><span class="size"><span class="width">{% if file.meta.LoadedWidth is not null %}{{ file.meta.LoadedWidth }}{% else %}-{% endif %}</span> x <span class="height">{% if file.meta.LoadedHeight is not null %}{{ file.meta.LoadedHeight }}{% else %}-{% endif %}</span> @ </span><span class="perc">Initialising...</span></span>
          {# Always show headline; if not set use file.alias #}
          <span class="iptc iptcHeadline">{{ file.meta is not null and file.meta.IptcHeadline != defaults.iptcHeadline ? file.meta.IptcHeadline : file.alias }}</span>
          {# Only show other metadata if it's not the default #}
          <span class="iptc iptcByline {{ file.meta is not defined ? 'iptc_undefined' }} {{ file.meta is not null and file.meta.IptcByline == defaults.iptcByline ? 'iptc_default' }}">{{ file.meta is not null ? file.meta.IptcByline : defaults.iptcByline }}</span>
          <span class="iptc iptcCopyright {{ file.meta is not defined ? 'iptc_undefined' }} {{ file.meta is not null and file.meta.IptcCopyright == defaults.iptcCopyright ? 'iptc_default' }}" title="{{ file.meta is not null ? file.meta.IptcCopyright : '' }}">&copy;</span>
          <span class="iptc iptcSource icon ion-home {{ file.meta is not defined ? 'iptc_undefined' }} {{ file.meta is not null and file.meta.IptcSource == defaults.iptcSource ? 'iptc_default' }}" title="{{ file.meta is not null ? file.meta.IptcSource : '' }}"></span>
          <span class="iptc iptcCaption icon ion-document-text {{ file.meta is not defined ? 'iptc_undefined' }} {{ file.meta is not null and file.meta.IptcCaption == defaults.iptcCaption ? 'iptc_default' }}" title="{{ file.meta is not null ? file.meta.IptcCaption : '' }}"></span>
          <span class="iptc iptcKeywords icon ion-pricetags {{ file.meta is not defined ? 'iptc_undefined' }} {{ file.meta is not null and file.meta.IptcKeywords == defaults.iptcKeywords ? 'iptc_default' }}" title="{{ file.meta is not null ? file.meta.IptcKeywords : '' }}"></span>
          {# Show edit icon if we have edit permissions ; editable class first for selector #}
          <span class="editable iptc icon ion-compose" style="{{ file.meta is not null and file.meta.Editable ? '' : 'display: none;' }}"></span>
        </span>
      </span>
      {% if (file.type == 'video') %}
      <span class="video-js pre-vjs-button vjs-default-skin"><span class="vjs-big-play-button"></span></span>
      {# <span class="button icon ion-play"></span> #}
      {% endif %}
    </a>
  </li>
{% else %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell" data-seq="{{ file.seq }}">
    <a href="#" class="container selectreflector" data-seq="{{ file.seq }}">
      {{ file.alias }}
    </a>
  </li>
{% endif %}
{% endfor %}
</ul>
</div><!-- /.content -->

{{ include('LightennaStructuredBundle:Fileview:partial.footer.html.twig') }}
