{{ include('LightennaStructuredBundle:Fileview:partial.header.html.twig', {title: dirname, direction: direction}) }}
{{ include('LightennaStructuredBundle:Fileview:partial.metaform.html.twig', {metaform: metaform}) }}
<div id="sfun-yardstick-x" class="yardstick"></div>
<div id="sfun-yardstick-y" class="yardstick"></div>
<div id="gutterball" class="yardstick"></div><div id="alleyball" class="yardstick"></div>

<div class="content">
<ul id="sfun" class="sfun flow flow-{{ direction }} flow-{{ celltype }} flow-{{ breadth }} animate-zoom">
{% for file in dirlisting %}
{% if file.type == 'directory' %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell resizeablecell {{ file.type }}-type" data-seq="{{ file.seq }}">
    <a class="container directory-container directory-outer clickable" href="/file/{{ linkpath }}{{ file.name }}/">
      <img id="imgseq-{{ file.seq }}" class="loadable reresable boundable {{ file.metadata.orientation }}-bound selectreflector"
          alt="directory preview thumbnail"
          data-meta-src="/imagemeta/{{ linkaliased }}{{ file.name }}{{ dirsep }}[i1]/full/!200,200/0/native.jpg"
          data-desrc="/image/{{ linkaliased }}{{ file.name }}{{ dirsep }}[i1]/full/!200,200/0/native.jpg"
          data-template-src="/image/{{ linkaliased }}{{ file.name }}{{ dirsep }}[i1]/full/!{% verbatim %}{{ maxwidth }},{{ maxheight }}{% endverbatim %}/0/native.jpg"
          {% if file.metadata.Status is defined %}data-status="{{ file.metadata.Status }}" {% endif %}
          {% if file.metadata.Ratio is not null %}data-ratio="{{ file.metadata.Ratio }}" {% endif %}
          {% if file.EntryLayout is not null %}{{ file.EntryLayout.NormalsHtml|raw }}{% endif %}
          {% if file.metadata.OriginalWidth is not null %}data-native-width="{{ file.metadata.OriginalWidth }}" {% endif %}{% if file.metadata.OriginalHeight is not null %}data-native-height="{{ file.metadata.OriginalHeight }}" {% endif %}
          data-loaded="false"
          data-seq="{{ file.seq }}" />
      <span class="meta">
        <span class="base">
          <span class="iptc iptc_headline">{{ file.alias|e }}</span>
          {% if file.subfolderCount is not null %}<span class="iptc iptc_byline">{{ file.subfolderCount }} assets</span>{% endif %}
        </span>
      </span>
    </a>
  </li>
{% elseif (file.type == 'image') or (file.type == 'video') %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell resizeablecell {{ file.type }}-type
  " data-seq="{{ file.seq }}">
    <a class="container media-container {{ file.type }}-container" href="/image/{{ linkaliased }}{{ file.name }}">
      <img class="loadable reresable boundable {{ file.metadata.orientation }}-bound selectreflector"
           alt="image thumbnail for {{ file.alias}}"
           {# metadata source, same as thumbnail so we get a cache hit #}
           data-meta-src="/imagemeta/{{ linkaliased }}{{ file.name }}/full/!200,200/0/native.jpg"
           {# thumbnail source when first loaded #}
           data-desrc="/image/{{ linkaliased }}{{ file.name }}/full/!200,200/0/native.jpg"
           {# thumbnail source for dynamic reresing #}
           data-template-src="/image/{{ linkaliased }}{{ file.name }}{% if file.type == 'video' %}{{ argsbase }}{% verbatim %}timecode={{ timecode }}{% endverbatim %}{% endif %}/full/!{% verbatim %}{{ maxwidth }},{{ maxheight }}{% endverbatim %}/0/native.jpg"
      {% if (file.type == 'video') %}
           {# video source #}
           data-video-src="/file/{{ linkaliased }}{{ file.name }}"
           data-video-type="{{ file.ext }}"
      {% endif %}
           {% if file.metadata.Status is defined %}data-status="{{ file.metadata.Status }}" {% endif %}
           {% if file.metadata.Ratio is not null %}data-ratio="{{ file.metadata.Ratio }}" {% endif %}
           {% if file.EntryLayout is not null %}{{ file.EntryLayout.NormalsHtml|raw }}{% endif %}
           {% if file.metadata.OriginalWidth is not null %}data-native-width="{{ file.metadata.OriginalWidth }}" {% endif %}{% if file.metadata.OriginalHeight is not null %}data-native-height="{{ file.metadata.OriginalHeight }}" {% endif %}
{#
           do not send the loaded-width and height, because we need to use the loaded event to trigger cell resize and image reres
           {% if file.metadata.LoadedWidth is not null %}data-loaded-width="{{ file.metadata.LoadedWidth }}" {% endif %}{% if file.metadata.LoadedHeight is not null %}data-loaded-height="{{ file.metadata.LoadedHeight }}" {% endif %}
#}
           data-loaded="false"
           data-seq="{{ file.seq }}" />
      <noscript><img class="{{ file.metadata.orientation }}-bound selectreflector" src="/image/{{ linkaliased }}{{ file.name }}/full/!200,200/0/native.jpg" alt="image thumbnail for {{ file.alias}}" /></noscript>
      <span class="meta">
        <span class="base">
          <span class="imgmetric super"><span class="size"><span class="width">{% if file.metadata.LoadedWidth is not null %}{{ file.metadata.LoadedWidth }}{% else %}-{% endif %}</span> x <span class="height">{% if file.metadata.LoadedHeight is not null %}{{ file.metadata.LoadedHeight }}{% else %}-{% endif %}</span> @ </span><span class="perc">Initialising...</span></span>
          {# Always show headline; if not set use file.alias #}
          <span class="iptc iptcHeadline">{{ file.metadata is not null and file.metadata.IptcHeadline != defaults.iptcHeadline ? file.metadata.IptcHeadline : file.alias }}</span>
          {# Only show other metadata if it's not the default #}
          <span class="iptc iptcByline {{ file.metadata is not defined ? 'iptc_undefined' }} {{ file.metadata is not null and file.metadata.IptcByline == defaults.iptcByline ? 'iptc_default' }}">{{ file.metadata is not null ? file.metadata.IptcByline : defaults.iptcByline }}</span>
          <span class="iptc iptcCopyright {{ file.metadata is not defined ? 'iptc_undefined' }} {{ file.metadata is not null and file.metadata.IptcCopyright == defaults.iptcCopyright ? 'iptc_default' }}" title="{{ file.metadata is not null ? file.metadata.IptcCopyright : '' }}">&copy;</span>
          <span class="iptc iptcSource icon ion-home {{ file.metadata is not defined ? 'iptc_undefined' }} {{ file.metadata is not null and file.metadata.IptcSource == defaults.iptcSource ? 'iptc_default' }}" title="{{ file.metadata is not null ? file.metadata.IptcSource : '' }}"></span>
          <span class="iptc iptcCaption icon ion-document-text {{ file.metadata is not defined ? 'iptc_undefined' }} {{ file.metadata is not null and file.metadata.IptcCaption == defaults.iptcCaption ? 'iptc_default' }}" title="{{ file.metadata is not null ? file.metadata.IptcCaption : '' }}"></span>
          <span class="iptc iptcKeywords icon ion-pricetags {{ file.metadata is not defined ? 'iptc_undefined' }} {{ file.metadata is not null and file.metadata.IptcKeywords == defaults.iptcKeywords ? 'iptc_default' }}" title="{{ file.metadata is not null ? file.metadata.IptcKeywords : '' }}"></span>
          {# Show edit icon if we have edit permissions ; editable class first for selector #}
          <span class="editable iptc icon ion-compose" style="{{ file.metadata is not null and file.metadata.Editable ? '' : 'display: none;' }}"></span>
        </span>
      </span>
      {% if (file.type == 'video') %}
      <span class="video-js pre-vjs-button vjs-default-skin"><span class="vjs-big-play-button"></span></span>
      {# <span class="button icon ion-play"></span> #}
      {% endif %}
    </a>
  </li>
{% else %}
  <li id="seq-{{ file.seq }}" class="cell selectablecell" data-seq="{{ file.seq }}">
    <a href="#" class="container selectreflector" data-seq="{{ file.seq }}">
      {{ file.alias }}
    </a>
  </li>
{% endif %}
{% endfor %}
</ul>
</div><!-- /.content -->

{{ include('LightennaStructuredBundle:Fileview:partial.footer.html.twig') }}
